.page {
  padding: 10px;
  color: var(--text-clr);
  font-size: 18px;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-clr);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: 40px;
}

@media (min-width: 768px) {
  .page {
    padding: 0 20px 20px 20px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decorative-bracket-clr);
  border-right: 1px solid var(--decorative-bracket-clr);
  inline-size: 25.04px;
  block-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
  margin-top: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--decorative-bracket-clr);
  border-left: 1px solid var(--decorative-bracket-clr);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
}

.header__theme-menu {
  justify-self: end;
  margin-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.decorative-rec-icon {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--rec-decoration-clr);
  gap: 10px;
  margin: 2px 9px;
  inset-inline-end: 0;
  inset-block-start: 0;
  margin-top: 20px;
}

.decorative-rec-icon::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-decoration-clr);
  background-color: var(--rec-decoration-clr);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  outline: 1px solid transparent;
  color: var(--menu-clr);
  text-transform: lowercase;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-clr);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorative-bracket-clr);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-clr);
  pointer-events: none;
}

.header__heading {
  align-self: center;
  justify-self: start;
}

@media (min-width: 768px) {
  .header__heading {
    margin: 0 0 0 -20px;
  }
}

.accented-shadow-text {
  color: var(--accent-heading-clr);
  font-weight: 700;
  font-size: var(--accent-heading-fs-mobile);
  line-height: 83%;
  text-decoration: none;
  text-shadow: 4px 4px 0 var(--accent-clr);
}

@media (min-width: 1024px) {
  .accented-shadow-text {
    font-size: var(--accent-heading-fs-desktop);
  }
}

.header__text {
  justify-self: end;
  max-inline-size: 355px;
}

@media (min-width: 768px) {
  .header__text {
    max-inline-size: 364px;
  }
}

@media (min-width: 1024px) {
  .header__text {
    max-inline-size: 491px;
  }
}

.list_item_title {
  margin: 0 0 10px;
  color: var(--heading-clr);
  font-size: 18px;
  line-height: 23.4px;
}

.list_item_title.subtitle {
  font-weight: 400;
}

.accented-background {
  color: var(--accent-clr-with-background);
  background-color: var(--accent-clr);
}

.accented-text {
  font-size: 18px;
  line-height: 23.4px;
}

.accented-text_bold {
  font-weight: 700;
}

.accented-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-clr);
}

.accented-link:hover {
  text-decoration: underline;
}

.accented-link:focus {
  outline: 1px solid var(--text-clr);
}

.section {
  margin: 50px 0 0;
}

.section:first-child {
  margin-top: 40px;
}

.section.horizontal .section_list-item:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .section_list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.section_title {
  font-size: 18px;
}

@media (min-width: 1024px) {
  .section_title {
    min-width: 315px;
    width: 315px;
  }
}

@media (min-width: 768px) {
  .section.horizontal {
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .section_title {
    margin-bottom: 20px;
  }
}


@media (min-width: 1024px) {
  .section {
    margin: 80px 0 0;
  }

  .section:first-child {
    margin-top: 60px;
  }

  .section:not(.horizontal) .section_list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--gap);
  }
  
}


.gallery {
  margin: 50px 0 40px;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0 0;
}

.gallery__img {
  inline-size: 100%;
}

@media (min-width: 768px) {
  .gallery {
    margin: 80px 0 60px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
    margin: 20px 0 0;
  }

  .gallery__list-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__list-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__list-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__list-item:last-child {
    grid-column: 2 / 4;
  }

  .gallery__img {
    object-fit: cover;
    object-position: top;
    block-size: 100%;
  }
}

.footer {
  display: grid;
  block-size: 100vh;
  margin-block-start: 40px;
}

.footer__text {
  justify-self: center;
  align-self: center;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-clr);
}

@media (min-width: 1024px) {
  .footer__text {
    text-shadow: 2px 2px 0 var(--footer-shadow-clr);
  }
}
